.part-1{
    display: block;
}

.part-2{
display: none;
}

.input-number{
    margin: 0 0 24px 0;
}

.button-continuar-cadastro{
    background-color: transparent;
    border:1px solid #6366F1;
    border-radius: 6px;   
    width: 100%; height: 30px;
    margin: 15px auto;
    padding: 10px;
    color: #555454;
    font-size: 8pt;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}