html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#interface{
    display: flex;
    background-image: linear-gradient(#6366F1, #A5B4FC, #6366F1 );
    width: 100vw; height: 100vh;
    margin: auto;
}

.login{
    margin: auto;
    width: 480px; height: 600px;
}

.title{
    color: #F3F4F6;
    text-align: center;
    font-size: 24pt;
}

.area-login{
    background-color: white;
    box-shadow: 1px 1px 10px 1px #A5B4FC;
    border-radius: 15px;
    width: 80%; height: 85%;
    margin: auto;
}

.texts{
    color: #555454;
    text-align: center;
    font-size: 11pt;
    margin: 5px;
}

.welcome{
    color: black;
    padding-top: 30px;
    font-weight: 700;
    font-size: 14pt;
}

.area-dados{
    width: 66%; height: 70%;
    margin: 30px auto;
}

.area-dados input{
    color: #555454;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    width: 98%; padding: 5px 3px;
    height: 25px;
}

.area-dados p{
    margin: 0;
    color: #555454;
    font-weight: 600;
    font-size: 10pt;
    margin: 15px 0 3px 0;
}